<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="/PHPCMS/public/CSS/base.css">
  <!-- import JS -->
  <script src="//unpkg.com/vue/dist/vue.js"></script>
  <script src="//unpkg.com/element-ui@2.4.11/lib/index.js"></script>

</head>
<body>
            <div id="app">

              <el-container>
                <el-header style="text-align: right; font-size: 12px">
                  <el-dropdown>
                    <i class="el-icon-setting" style="margin-right: 15px"></i>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item>查看</el-dropdown-item>
                      <el-dropdown-item>新增</el-dropdown-item>
                      <el-dropdown-item>删除</el-dropdown-item>
                    </el-dropdown-menu>
                  </el-dropdown>
                  <span >王小虎</span>
                  <el-button type="primary">退出</el-button>
                </el-header>
              </el-container>

            <el-container style="height: 100%; border: 1px solid #eee" >
              <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
                <el-menu  default-active="activeIndex"
                          class="el-menu-vertical-demo"
                          @select="handleSelect"
                          background-color="#545c64"
                          text-color="#fff"
                          active-text-color="#ffd04b"
                >
                  <el-submenu index="1">
                    <template slot="title"><i class="el-icon-message"></i>导航一</template>
                    <el-menu-item-group >
                      <template slot="title">分组一</template>
                      <el-menu-item index="1-1">选项1</el-menu-item>
                      <el-menu-item index="1-2">选项2</el-menu-item>
                    </el-menu-item-group>
                    <el-menu-item-group title="分组2">
                      <el-menu-item index="1-3">选项3</el-menu-item>
                    </el-menu-item-group>
                    <el-submenu index="1-4">
                      <template slot="title">选项4</template>
                      <el-menu-item index="1-4-1">选项4-1</el-menu-item>
                      <el-menu-item index="1-4-2">选项4-1-2</el-menu-item>
                    </el-submenu>
                  </el-submenu>
                  <el-submenu index="2">
                    <template slot="title"><i class="el-icon-menu"></i>导航二</template>
                    <el-menu-item-group>
                      <template slot="title">分组一</template>
                      <el-menu-item index="2-1">选项1</el-menu-item>
                      <el-menu-item index="2-2">选项2</el-menu-item>
                    </el-menu-item-group>
                    <el-menu-item-group title="分组2">
                      <el-menu-item index="2-3">选项3</el-menu-item>
                    </el-menu-item-group>
                    <el-submenu index="2-4">
                      <template slot="title">选项4</template>
                      <el-menu-item index="2-4-1">选项4-1</el-menu-item>
                    </el-submenu>
                  </el-submenu>
                  <el-submenu index="3">
                    <template slot="title"><i class="el-icon-setting"></i>导航三</template>
                    <el-menu-item-group>
                      <template slot="title">分组一</template>
                      <el-menu-item index="3-1">选项1</el-menu-item>
                      <el-menu-item index="3-2">选项2</el-menu-item>
                    </el-menu-item-group>
                    <el-menu-item-group title="分组2">
                      <el-menu-item index="3-3">选项3</el-menu-item>
                    </el-menu-item-group>
                    <el-submenu index="3-4">
                      <template slot="title">选项4</template>
                      <el-menu-item index="3-4-1">选项4-1</el-menu-item>
                    </el-submenu>
                  </el-submenu>
                </el-menu>
              </el-aside>
              
                <el-main>
                  <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" stripe border @selection-change="handleSelectionChange" highlight-current-row
                    v-loading="loading"
                    element-loading-text="拼命加载中"
                    element-loading-spinner="el-icon-loading"
                    element-loading-background="rgba(0, 0, 0, 0.8)"
                  >
                    <el-table-column type="selection" width="55">
                    </el-table-column>
                    <el-table-column prop="date" label="日期" width="140">
                    </el-table-column>
                    <el-table-column prop="name" label="姓名" width="120">
                    </el-table-column>
                    <el-table-column prop="description" label="描述">
                    </el-table-column>
                    <el-table-column label="图片上传">
                      <template slot-scope="scope">
                        <el-upload
                                class="upload-demo"
                                action="/PHPCMS/public/CSS"
                                :on-preview="handlePreview"
                                :on-remove="handleRemove"
                                :before-remove="beforeRemove"
                                multiple
                                :limit="3"
                                :on-exceed="handleExceed"
                                :file-list="imageFileList" style="display: inline-block">
                          <el-button size="mini" type="primary">点击上传</el-button>
                        </el-upload>
                      </template>
                    </el-table-column>

                    <el-table-column label="视频上传">
                      <template slot-scope="scope">
                        <el-upload
                                class="upload-demo"
                                action="https://jsonplaceholder.typicode.com/posts/"
                                :on-preview="handlePreview"
                                :on-remove="handleRemove"
                                :before-remove="beforeRemove"
                                multiple
                                :limit="3"
                                :on-exceed="handleExceed"
                                :file-list="vidoeFileList" style="display: inline-block">
                          <el-button size="mini" type="primary">点击上传</el-button>
                        </el-upload>
                      </template>
                    </el-table-column>


                    <el-table-column label="操作">
                      <template slot-scope="scope">
                        <!-- 编辑 -->
                         <el-button
                          size="mini"
                          @click="handleEdit(scope.$index, scope.row ,tableData)">编辑信息</el-button>
                          <el-dialog title="编辑信息" :visible.sync="dialogFormVisible">
                            <el-form :model="form">
                              <el-form-item label="日期" :label-width="formLabelWidth">
                                <el-input v-model="form.date" autocomplete="off" ></el-input>
                              </el-form-item>
                              <el-form-item label="姓名" :label-width="formLabelWidth">
                                <el-input v-model="form.name" autocomplete="off" ></el-input>
                              </el-form-item>
                              <el-form-item label="描述" :label-width="formLabelWidth">
                                <el-input v-model="form.description" autocomplete="off" ></el-input>
                              </el-form-item>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                              <el-button @click="dialogFormVisible = false">取 消</el-button>
                              <el-button type="primary" @click="handleEditSure(scope.$index,form)">确 定</el-button>
                            </div>
                          </el-dialog>
                        <!--  -->
                        <!-- 删除 -->
                        <el-button
                          size="mini"
                          type="danger"
                          @click="handleDelete(scope.$index, scope.row, tableData)">删除</el-button>
                         <!--  -->
                      </template>
                    </el-table-column>
                  </el-table>
                </el-main>
              
            </el-container>
            </div>
</body>
<script type="text/javascript">
         var Main = {
          data() {
            return {
              tableData: [{
                date: '2016-05-01',
                name: '王',
                description: '上海市普陀区金沙江路 1 弄',

              }, {
                  date: '2016-05-03',
                  name: '王小虎',
                  description: '上海市普陀区金沙江路 3 弄'
              }, {
                  date: '2016-05-03',
                  name: '王小虎',
                  description: '上海市普陀区金沙江路 3 弄'
              }, {
                  date: '2016-05-03',
                  name: '王小虎',
                  description: '上海市普陀区金沙江路 3 弄'
              }, {
                  date: '2016-05-03',
                  name: '王小虎',
                  description: '上海市普陀区金沙江路 3 弄'
              }, {
                  date: '2016-05-03',
                  name: '王小虎',
                  description: '上海市普陀区金沙江路 3 弄'
              }, {
                  date: '2016-05-03',
                  name: '王小虎',
                  description: '上海市普陀区金沙江路 3 弄'
              }],
              multipleSelection: [],
              dialogFormVisible: false,
              activeIndex:'1',
              form: {
                date: '',
                name: '',
                description: ''
              },
              formLabelWidth: '120px',
              loading: false,
              imageFileList:[],
              vidoeFileList:[]
            }
          },
          methods: {
            //多选/单选  打勾 选择
            handleSelectionChange(val) {
               console.log(val.length);
               this.multipleSelection = val;
            },
            //编辑操作
            handleEdit(index, row ,rows) {
             console.log(index, row);
             this.$data.form.date    = row.date;
             this.$data.form.name    = row.name;
             this.$data.form.description = row.description;
             this.$data.dialogFormVisible = true;
            },
            //编辑确定按钮
            handleEditSure(index,form){
               console.log(index);
               console.log(form.description);
               this.$data.tableData.splice(index,1,{
                date: form.date,
                name: form.name,
                description: form.description
              });
              console.log(this.$data);
              this.$data.dialogFormVisible = false;
              this.$data.loading = true;
              this.$data.loading = false;
            },
            //删除操作
            handleDelete(index, row, rows) {
              console.log(index, row);
              this.$confirm('此操作将永久删除该条信息, 是否继续?', '提示', {
                              confirmButtonText: '确定',
                              cancelButtonText: '取消',
                              type: 'warning'
                           }).then(() => {
                              console.log(row);
                              rows.splice(index, 1);
                              this.$message({
                                type: 'success',
                                message: '删除成功!'
                              });
                          }).catch(() => {
                              this.$message({
                                type: 'info',
                                message: '已取消删除'
                              });          
                          });
            },
              //子菜单选择
            handleSelect(key, keyPath) {
                console.log("子菜单"+key, keyPath);
             },
            handlePreview(file) {
                console.log("123"+file);
            }
          }
        }
      var Ctor = Vue.extend(Main)
      new Ctor().$mount('#app')
</script>
</html>