body{
    background-image: url(/PHPCMS/public/img/login/loginBack.jpg);
    /*background-repeat: no-repeat; 平铺模式*/
}
.titleDiv{
    width: 100%;
    color: #666600;
    text-align: center;
    font-size: 50px;
    margin-top: 10%;
}
.divOne{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
.ziDiv{
    display: inline-block;
    color: #666600;
    font-size: 20px;
    margin-right: 10px;
}
.divTwo input{
    margin-top: 20px;
    height: 20px;
}
.submitDiv{
    margin-top: 30px;
    text-align: center;
}
.submitDiv .loginButton{
    width: 200px;
    font-size: 20px;
    color: white;
    background-color: #006666;
    border-width: 1px;
}